body{
    background-color: crimson;
    color:blueviolet; 
    font-family: "Ole", cursive;
}


.cabecalho{
    text-align: center;
    background-color: brown;

}

main{
    background-color: blue;
    color: aliceblue;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}